<section id="breadcrumb">

    <nav id="breadcrumb-cadastros" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./list-parceiros.html">Parceiros</a></li>
            <li class="breadcrumb-item"><a href="./list-itens.html">Itens</a></li>
            <li class="breadcrumb-item"><a href="./list-estoque.html">Estoque</a></li>
        </ol>
    </nav>

    <nav id="breadcrumb-registros" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./list-vendas.html">Vendas</a></li>
            <li class="breadcrumb-item"><a href="./list-compras.html">Compras</a></li>
            <li class="breadcrumb-item"><a href="./list-producao.html">Producao</a></li>
            <li class="breadcrumb-item"><a href="./list-estoque.html">Estoque</a></li>
        </ol>
    </nav>

    <nav id="breadcrumb-financeiro" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./list-receber.html">Receber</a></li>
            <li class="breadcrumb-item"><a href="./list-pagar.html">Pagar</a></li>
            <li class="breadcrumb-item"><a href="./list-parceiros.html">Parceiros</a></li>
        </ol>
    </nav>

</section>